body {
    padding:0;
}

ul{
    list-style-type:none;
}

ul li:hover > span{
    text-decoration:underline;
    cursor:pointer;
}

ul li ul{
    display:none;
}

ul li:hover > ul{
    display: block;
    text-decoration: none;
    color:#938388;
}

