.clearfix {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
body,
ul,
li,
a,
h1,
h2,
footer,
aside,
p,
article,
div {
  padding: 0;
  margin: 0;
}
body {
  background: #d791ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d791ff 0, #9116f1 20%, #9215f2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d791ff), color-stop(20%, #9116f1), color-stop(100%, #9215f2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d791ff 0, #9116f1 20%, #9215f2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d791ff 0, #9116f1 20%, #9215f2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d791ff 0, #9116f1 20%, #9215f2 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d791ff 0, #9116f1 20%, #9215f2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d791ff', endColorstr='#9215f2', GradientType=0);
  /* IE6-9 */
  background-repeat: no-repeat;
  padding: 15px 0 10px 15px;
}
body header div#header-container div#logo-container {
  float: left;
}
body header div#header-container div#logo-container img {
  width: 300px;
}
body header div#header-container div#reg-form-container {
  float: right;
  margin-right: 40px;
}
body header div#header-container div#reg-form-container input {
  background-color: #B35EF3;
  border: 2px solid #8346B1;
  border-radius: 15px;
  width: 117px;
  padding-left: 3px;
  margin-top: 7px;
}
body header div#header-container div#reg-form-container input:focus {
  outline: none;
}
body header div#header-container div#reg-form-container input#tb-password {
  margin-left: 3px;
}
body header div#header-container div#reg-form-container button {
  color: white;
  width: 73px;
  height: 25px;
  margin-left: -5px;
  margin-top: 2px;
  border-width: 2px;
  border-top-color: #BB90DC;
  border-bottom-color: #743BA0;
  border-left-color: #BB90DC;
  border-right-color: #743BA0;
  border-radius: 8px;
  border-style: outset;
  background-color: #B35DF2;
}
body header div#header-container div#reg-form-container button:active {
  border-style: inset;
  outline: none;
}
body header div#header-container div#reg-form-container button:focus {
  outline: none;
}
body header div#header-container div#reg-form-container button:hover {
  cursor: pointer;
}
body header div#header-container div#reg-form-container label {
  color: white;
  font-size: 13px;
}
body header div#header-container::after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
body header nav {
  padding: 17px 20px;
}
body header nav ul.nav-list {
  list-style-type: none;
}
body header nav ul.nav-list a {
  color: white;
  text-decoration: none;
  display: block;
}
body header nav ul.nav-list a:hover {
  text-decoration: underline;
}
body header nav ul#main-nav-list {
  border: 2px solid #50187B;
  width: 79%;
  padding: 10px;
  border-radius: 15px;
}
body header nav ul#main-nav-list > li {
  display: inline-block;
  font-size: 18px;
}
body header nav ul#main-nav-list > li a {
  padding-right: 10px;
}
body header nav ul#main-nav-list > li ul {
  display: none;
}
body header nav ul#main-nav-list > li:hover ul {
  display: block;
  position: absolute;
}
body header nav ul#main-nav-list > li:hover ul li {
  background-color: #d791ff;
  padding: 7px;
  border-top: 1px solid #743BA0;
}
body header nav ul#main-nav-list > li:hover ul li:hover {
  background-color: #9116f1;
}
body header nav ul#main-nav-list > li:hover ul li:first-of-type {
  border-top-right-radius: 15px;
  border-top: none;
}
body header nav ul#main-nav-list > li:hover ul li:last-of-type {
  border-bottom-left-radius: 15px;
}
body section {
  float: left;
  width: 75%;
  padding: 0 10px;
}
body section article {
  border: 2px solid #50187B;
  border-radius: 15px;
  margin-top: 13px;
  padding: 30px 15px 10px;
  color: white;
}
body section article header {
  font-size: 14px;
}
body section article > p {
  font-size: 12px;
}
body section article footer {
  text-align: right;
  font-size: 15px;
  padding: 12px 3px 0 0;
}
body section article footer a {
  text-decoration: none;
  color: #CB8AF7;
}
body section article footer time {
  font-family: Consolas;
}
body aside {
  float: left;
  width: 22%;
  padding: 40px 0 48px 12px;
}
body aside > ul > li {
  width: 90%;
  border-radius: 7px;
  list-style-type: none;
  border: 2px solid #50187B;
  box-sizing: border-box;
  color: white;
  padding: 15px;
  margin-bottom: 15px;
}
body aside > ul > li h2 {
  font-size: 13px;
}
body aside > ul > li p {
  font-size: 12px;
}
body aside > ul > li a {
  text-decoration: none;
  color: #CB8AF7;
}
body aside > ul > li ul {
  list-style-image: url('images/li-dot.png');
  padding: 5px 30px;
}
body aside > ul > li ul li {
  font-size: 13px;
}
body > footer {
  color: white;
  text-align: center;
  clear: both;
}
/*# sourceMappingURL=ForumPost.css.map */